/CommuniTraderDal/obj/Debug/CommuniTraderDal.csprojResolveAssemblyReference.cache
/CommuniTraderWeb/obj/Debug/Package
/CommuniTraderWeb/obj/Debug
/CommuniTraderWeb/CommunityImage
CommuniTraderWeb/Web.config
/CommuniTraderBal
/CommuniTraderDal
/CommuniTraderWeb
/packages/PayPalCoreSDK.1.6.1
CommuniTraderWeb/MyShowcases/AddListing.aspx
